{% extends 'base.html' %}

{% block title %}各縣市年齡比例分佈{% endblock %}
{% block content %}
   	<head>
		<title>chart created with amCharts | amCharts</title>
		<meta name="description" content="chart created using amCharts live editor" />
		
		<!-- amCharts javascript sources -->
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
		

		<!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("chartdiv",
				{
					"type": "serial",
					"categoryField": "county",
					"angle": 30,
					"depth3D": 30,
					"startDuration": 1,
					"theme": "light",
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]] of [[category]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "<15y",
							"type": "column",
							"valueField": "<15y"
						},
						{
							"balloonText": "[[title]] of [[category]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-2",
							"title": "15-64y",
							"type": "column",
							"valueField": "15-64y"
						},
						{
							"balloonText": "[[title]] of [[category]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-3",
							"title": ">65y",
							"type": "column",
							"valueField": ">65y"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"stackType": "100%",
							//"title": "Axis title"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "106年台灣各縣市人口結構"
						}
					],
					"dataProvider": [
						{
							"county": "嘉義市",
							"<15y": "0.141700975",
							"15-64y": "0.7207251",
							">65y": "0.137573924"
						},
						{
							"county": "嘉義縣",
							"<15y": "0.100456801",
							"15-64y": "0.717939162",
							">65y": "0.181604037"
						},
						{
							"county": "基隆市",
							"<15y": "0.108094468",
							"15-64y": "0.748409027",
							">65y": "0.143496505"
						},
						{
							"county": "宜蘭縣",
							"<15y": "0.123301766",
							"15-64y": "0.725949936",
							">65y": "0.150748298"
						},
						{
							"county": "屏東縣",
							"<15y": "0.111020891",
							"15-64y": "0.734134564",
							">65y": "0.154844545"
						},
						{
							"county": "彰化縣",
							"<15y": "0.134680696",
							"15-64y": "0.720689536",
							">65y": "0.144629768"
						},
						{
							"county": "新北市",
							"<15y": "0.126461785",
							"15-64y": "0.75242152",
							">65y": "0.121116695"
						},
						{
							"county": "新竹市",
							"<15y": "0.173717927",
							"15-64y": "0.713883577",
							">65y": "0.112398496"
						},
						{
							"county": "新竹縣",
							"<15y": "0.166565271",
							"15-64y": "0.714856727",
							">65y": "0.118578002"
						},
						{
							"county": "桃園市",
							"<15y": "0.152528606",
							"15-64y": "0.742584009",
							">65y": "0.104887385"
						},
						{
							"county": "澎湖縣",
							"<15y": "0.110105317",
							"15-64y": "0.736985181",
							">65y": "0.152909502"
						},
						{
							"county": "台中市",
							"<15y": "0.147223459",
							"15-64y": "0.741009874",
							">65y": "0.111766666"
						},
						{
							"county": "台北市",
							"<15y": "0.138520619",
							"15-64y": "0.702296979",
							">65y": "0.159182402"
						},
						{
							"county": "台南市",
							"<15y": "0.12483361",
							"15-64y": "0.734731315",
							">65y": "0.140435075"
						},
						{
							"county": "台東縣",
							"<15y": "0.12219077",
							"15-64y": "0.72533024",
							">65y": "0.15247899"
						},
						{
							"county": "花蓮縣",
							"<15y": "0.123372404",
							"15-64y": "0.726814375",
							">65y": "0.149813221"
						},
						{
							"county": "苗栗縣",
							"<15y": "0.133610169",
							"15-64y": "0.715579535",
							">65y": "0.150810296"
						},
						{
							"county": "連江縣",
							"<15y": "0.124453393",
							"15-64y": "0.771620474",
							">65y": "0.103926133"
						},
						{
							"county": "金門縣",
							"<15y": "0.099425484",
							"15-64y": "0.781318575",
							">65y": "0.119255942"
						},
						{
							"county": "雲林縣",
							"<15y": "0.120169881",
							"15-64y": "0.706952791",
							">65y": "0.172877329"
						},
						{
							"county": "高雄市",
							"<15y": "0.122683807",
							"15-64y": "0.739413965",
							">65y": "0.137902227"
						},
						{
							"county": "南投縣",
							"<15y": "0.11362",
							"15-64y": "0.72456",
							">65y": "0.1618"
						}
					]
				}
			);
		</script>
	</head>
	<body>
		<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</body>
	<head>
		<title>chart created with amCharts | amCharts</title>
		<meta name="description" content="chart created using amCharts live editor" />
<meta charset="utf-8">
<DIV>
    本資料來源 平均收入:104年資料  老化指數:105年資料
</DIV>

		<!-- amCharts javascript sources -->
		<script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
		<script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
		

		<!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("chartdiv2",
				{
					"type": "serial",
					"categoryField": "county",
					"colors": [
						"#FFAA33",
						"#00AA00",
						"#33CCFF"
					],
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [

						{
							"balloonText": "[[title]] of [[category]]:[[value]]",
							"bullet": "round",
							"id": "AmGraph-2",
							"labelText": "",
							"lineThickness": 2,
							"title": "平均收入",
							"valueField": "income"
						},
						{
							"balloonText": "[[title]] of [[category]]:[[value]]",
							"bullet": "round",
							"id": "AmGraph-3",
							"labelText": "",
							"lineThickness": 3,
							"title": "老化指數",
							"valueAxis": "ValueAxis-2",
							"valueField": "老化指數",
							"yAxis": "ValueAxis-2"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Axis title"
						},
						{
							"id": "ValueAxis-2",
							"position": "right",
							"stackType": "regular",
							"gridAlpha": 0,
							"title": "Axis title"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "台灣各縣市老化指數與平均收入本圖示"
						}
					],
					"dataProvider": [
						{
							"county": "新北市",
							"obesity": "41.51",
							"income": "665896.7545",
							"扶養比": "31.82829758",
							"老化指數": "87.64925323"
						},
						{
							"county": "臺北市",
							"obesity": "35.89",
							"income": "898806.4074",
							"扶養比": "41.03618049",
							"老化指數": "109.0725605"
						},
						{
							"county": "桃園市",
							"obesity": "39.75",
							"income": "699015.1271",
							"扶養比": "33.99085204",
							"老化指數": "64.58712304"
						},
						{
							"county": "臺中市",
							"obesity": "40.6",
							"income": "687754.648",
							"扶養比": "34.1919704",
							"老化指數": "71.3954988"
						},
						{
							"county": "臺南市",
							"obesity": "41.35",
							"income": "575481.8122",
							"扶養比": "35.28723972",
							"老化指數": "106.4541531"
						},
						{
							"county": "高雄市",
							"obesity": "40.04",
							"income": "670113.8449",
							"扶養比": "34.23337516",
							"老化指數": "104.8200801"
						},
						{
							"county": "宜蘭縣",
							"obesity": "38.87",
							"income": "648223.422",
							"扶養比": "37.14155822",
							"老化指數": "115.8846133"
						},
						{
							"county": "新竹縣",
							"obesity": "38.79",
							"income": "742193.9036",
							"扶養比": "39.65511092",
							"老化指數": "68.82265175"
						},
						{
							"county": "苗栗縣",
							"obesity": "39.83",
							"income": "596592.275",
							"扶養比": "39.62215533",
							"老化指數": "105.1487691"
						},
						{
							"county": "彰化縣",
							"obesity": "41.86",
							"income": "532595.8584",
							"扶養比": "38.24285106",
							"老化指數": "101.3215191"
						},
						{
							"county": "南投縣",
							"obesity": "40.78",
							"income": "539116.3772",
							"扶養比": "37.50589881",
							"老化指數": "132.5053065"
						},
						{
							"county": "雲林縣",
							"obesity": "44.46",
							"income": "561967.9968",
							"扶養比": "41.13194429",
							"老化指數": "135.9938807"
						},
						{
							"county": "嘉義縣",
							"obesity": "42.9",
							"income": "546467.5532",
							"扶養比": "39.01792144",
							"老化指數": "168.3474045"
						},
						{
							"county": "屏東縣",
							"obesity": "45.9",
							"income": "557575.3889",
							"扶養比": "35.58080011",
							"老化指數": "130.6398109"
						},
						{
							"county": "臺東縣",
							"obesity": "49.44",
							"income": "533557.5755",
							"扶養比": "37.45774361",
							"老化指數": "117.7276526"
						},
						{
							"county": "花蓮縣",
							"obesity": "46.97",
							"income": "604382.712",
							"扶養比": "36.9342564",
							"老化指數": "114.5134998"
						},
						{
							"county": "澎湖縣",
							"obesity": "41.61",
							"income": "528464.1225",
							"扶養比": "35.40699011",
							"老化指數": "132.6936282"
						},
						{
							"county": "基隆市",
							"obesity": "42.22",
							"income": "649959.4066",
							"扶養比": "32.60125154",
							"老化指數": "123.5203542"
						},
						{
							"county": "新竹市",
							"obesity": "38.33",
							"income": "793095.4304",
							"扶養比": "39.49480803",
							"老化指數": "61.41819213"
						},
						{
							"county": "嘉義市",
							"obesity": "36.52",
							"income": "686959.1535",
							"扶養比": "38.08168315",
							"老化指數": "90.44427496"
						}
					]
				}
			);
		</script>
	</head>
	<body>
		<div id="chartdiv2" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</body>
	<head>
		<title>chart created with amCharts | amCharts</title>
		<meta name="description" content="chart created using amCharts live editor" />
		
		<!-- amCharts javascript sources -->
		<script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
		<script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
<meta charset="utf-8">
<DIV>
    扶養比:每100個工作年齡人口（15至64歲人口）所需負擔依賴人口（即14歲以下幼年人口及65歲以上老年人口），也稱為依賴人口指數，扶養比愈高，負擔也愈重。
</DIV>
    老化指數:為衡量一個國家/地區人口老化程度之指標，即每100個65歲以上人口對14歲以下人口之比，指數越高，代表高老齡化情況越嚴重。
<DIV>

</DIV>

		<!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("chartdiv3",
				{
					"type": "serial",
					"categoryField": "county",
					"colors": [
						"#FFBB00",
						"#5599FF"
					],
					"startDuration": 1,
					"theme": "default",
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]] of [[category]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"labelPosition": "inside",
							"title": "扶養比",
							"type": "column",
							"valueField": "allratio"
						},
						{
							"accessibleLabel": "",
							"balloonText": "",
							"bullet": "round",
							"id": "AmGraph-2",
							"labelText": "",
							"lineThickness": 2,
							"tabIndex": 1,
							"title": "老化指數",
							"valueAxis": "ValueAxis-2",
							"valueField": "oldratio"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Axis title"
						},
						{
							"id": "ValueAxis-2",
							"position": "right",
							"gridAlpha": 0,
							"title": "Axis title"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "台灣106各縣市扶養比及老化指數"
						}
					],
					"dataProvider": [
						{
							"allratio": "38.01299775",
							"oldratio": "142.3967815",
							"county": "南投縣"
						},
						{
							"allratio": "38.74915688",
							"oldratio": "97.08749297",
							"county": "嘉義市"
						},
						{
							"allratio": "39.28756812",
							"oldratio": "180.7782406",
							"county": "嘉義縣"
						},
						{
							"allratio": "33.61677422",
							"oldratio": "132.7510168",
							"county": "基隆市"
						},
						{
							"allratio": "37.75054602",
							"oldratio": "122.259642",
							"county": "宜蘭縣"
						},
						{
							"allratio": "36.21480975",
							"oldratio": "139.4733399",
							"county": "屏東縣"
						},
						{
							"allratio": "38.75600375",
							"oldratio": "107.3871557",
							"county": "彰化縣"
						},
						{
							"allratio": "32.90422633",
							"oldratio": "95.77335533",
							"county": "新北市"
						},
						{
							"allratio": "40.07886333",
							"oldratio": "64.70172531",
							"county": "新竹市"
						},
						{
							"allratio": "39.88817091",
							"oldratio": "71.19011096",
							"county": "新竹縣"
						},
						{
							"allratio": "34.66489829",
							"oldratio": "68.76571418",
							"county": "桃園市"
						},
						{
							"allratio": "35.68793854",
							"oldratio": "138.8756747",
							"county": "澎湖縣"
						},
						{
							"allratio": "34.95096824",
							"oldratio": "75.91634297",
							"county": "台中市"
						},
						{
							"allratio": "42.38990473",
							"oldratio": "114.9160344",
							"county": "台北市"
						},
						{
							"allratio": "36.10417574",
							"oldratio": "112.4978076",
							"county": "台南市"
						},
						{
							"allratio": "37.86823506",
							"oldratio": "124.7876497",
							"county": "台東縣"
						},
						{
							"allratio": "37.58671181",
							"oldratio": "121.431711",
							"county": "花蓮縣"
						},
						{
							"allratio": "39.74686964",
							"oldratio": "112.8733666",
							"county": "苗栗縣"
						},
						{
							"allratio": "29.59739068",
							"oldratio": "83.50606673",
							"county": "連江縣"
						},
						{
							"allratio": "27.98876574",
							"oldratio": "119.9450456",
							"county": "金門縣"
						},
						{
							"allratio": "41.45216108",
							"oldratio": "143.8607809",
							"county": "雲林縣"
						},
						{
							"allratio": "35.2422387",
							"oldratio": "112.4045871",
							"county": "高雄市"
						},
						{
							"county": ""
						}
					]
				}
			);
		</script>
	</head>
	<body>
		<div id="chartdiv3" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</body>

{% endblock %}